version: 2
registries:
  k9-felles:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/k9-felles
    username: x-access-token
    password: ${{secrets.READER_TOKEN}}
  k9-prosesstask:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/k9-prosesstask
    username: x-access-token
    password: ${{secrets.READER_TOKEN}}
  ghcr:
    type: docker-registry
    url: ghcr.io
    username: x-access-token
    password: ${{secrets.READER_TOKEN}}
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
  - package-ecosystem: maven
    directory: "/"
    registries:
      - k9-felles
      - k9-prosesstask
    schedule:
      interval: daily
    cooldown:
      default-days: 7
      exclude:
        - "no.nav.*"
    open-pull-requests-limit: 20
    allow:
      - dependency-type: "all"
    groups:
      nav-deps:
        patterns:
          - "*no.nav*"
      annet-deps:
        patterns:
          - "*"
        exclude-patterns:
          - "*no.nav*"
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
    registries:
      - ghcr
